# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 가상환경
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# 로그
*.log

# 데이터베이스
*.db
*.sqlite3
database.py

# 운영체제
.DS_Store
Thumbs.db 